@import "main-page.css";
/*@import "course-room.css";*/

.chat-screen {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.course-chat-name {
    font-family: "Montserrat Black";
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0.005em;
    margin:0;
    text-decoration-line: underline;
    color: #489F8A;

}

.course-room-panel {
    justify-content: space-between;
    align-items: center;
    max-width: 331px;
    min-width: 331px;
    margin-bottom: 20px;
}

.chat-holder-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 1px solid var(--green-acsent);
    overflow: hidden;
}

.chat-wrapper{
    overflow: auto;
    flex-grow: 1;
    padding-top: 27px;
}



