/* variables */
:root{
    --primary: #363A38;
    --green-acsent: #7AD7C0;
    --coral-acsent: #FF6D6A;
    --white-text: #ffffff;
    --green-anonim-menu: 86px;
    }
/* fonts */
@font-face {
    font-family: 'Fira Code Regular';
    src: url("../fonts/Fira_Code/FiraCode-Regular.ttf");
}
@font-face {
    font-family: 'Fira Code Bold';
    src: url("../fonts/Fira_Code/FiraCode-Bold.ttf");
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: 'Montserrat Black';
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Fira Code Light";
    src: url("../fonts/Fira_Code/FiraCode-Light.ttf");
}


/* reset */
li{
    list-style-type: none;
}

body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*base-styles*/
body{
    background-color: var(--primary);
    overflow-x: hidden;
}

.menu-btn{
    border: none;
    width: 46px;
    height: 37.5px;
    background: none;
    animation-name: menu-btn-closed;
    animation-duration: 1s;
    transform: rotate(0deg);
}

@keyframes menu-btn-closed {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.menu-btn.open{
    animation-name: menu-btn-open;
    animation-duration: 1s;
    transform: rotate(180deg);
}

@keyframes menu-btn-open {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.arrow-btn{
    width: 104px;
    height: 27px;
    margin-top: 24px;
    background: none;
    border: none;

}
.contact-us-btn{
    background-image: url("../contact-us-button.svg");
}
/* mobile-styles */
.main-page {
    background: var(--primary);
    overflow-x: hidden;
}
/* main screen*/
.menu-green.menu-btn{
    background-image: url("../menu-logo-btn.svg");
}
.menu-button-wrapper {
    display: block;
    align-items: start;
    margin: 26px auto auto;
    max-width: 325px;
}
button.menu-coral{
    background-image: url("../menu-logo-btn-coral.svg");
}

.introducing-screen{
    background-color: var(--primary);
}

.introducing-screen-content {
    display: block;
    max-width: 325px;
    margin: auto;
    align-self: center;
    text-align: right;
}

.intro-text-h1 {
    margin: 35px 0 0 0;
    font-family: "Montserrat Bold";
    color: #4DBBA1;
    font-size: 36px;
    text-align: right;
}

.intro-text-h3 {
    margin: 27px 0 22px 0;
    font-family: 'Fira Code Regular';
    font-weight: normal;
    letter-spacing: 0.015em;
    color: #E0F6F2;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

.go-to-btn {
    padding: 0;
    color: #E0F6F2;
    font-family: "Fira Code Regular";
    font-size: 16px;
    line-height: 21px;
    text-indent: 3px;
    text-decoration: underline;
    letter-spacing: -0.045em;
}

/* benefits-screen*/
.benefits-screen{
    margin-top: 56px;
    height: 668px;
    background-color: var(--green-acsent);
    opacity: 0.9;
}

.content-wrapper {
    max-width: 325px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.benefits-screen-content {
    margin: 58px auto auto;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 57px;
}

.benefits-text-h1 {
    padding-top: 36px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Montserrat Bold";
    font-size: 32px;
    letter-spacing: 0.025em;
    color: #30423E;
    line-height: 39px;

}

.benefit-wrapper {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 15.5px;
}

.benefits-text-h3 {
    margin: 0;
    width: 193px;
    font-family: "Fira Code Regular";
    color: #21312D;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.005em;

}

.img-benefits {
    width: 99.5px;
    height: 76px;
}

/* course-catalog */
.course-catalog-text-h1 {
    width: 216px;
    height: 46px;
    font-family: "Montserrat Bold";
    font-size: 32px;
    letter-spacing: 0.025em;
    color: var(--white-text);
    line-height: 39px;
    margin: 44px 0 0 0;
}

.catalog-wrapper {
    margin: 36px 0 51px 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.card-wrapper {
    display: inline-grid;
    grid-template-columns: auto 189px auto;
    gap: 32.5px;
    justify-items: center;
    align-items: center;
}

.go-left-btn{
    width: 17px;
    height: 33px;
    background: none;
    border: none;
    justify-self: end;
    background-image: url("../go-left-button.svg");

}

.go-right-btn {
    width: 17px;
    height: 33px;
    background: none;
    border: none;
    justify-self: start;
    background-image: url("../go-right-button.svg");

}

.course-big-card {
    width: 189px;
    height: 200px;
    border-radius: 19px;
    background-color: var(--coral-acsent);
    display: block;
}

.card-inside-wrapper {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 18px;
}
.schedule-text {
    font-family: "Fira Code Bold";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-decoration-line: underline;
    color: var(--white-text);
}
.schedule-wrapper{
    display: flex;
    flex-direction: row;
    /*margin-top: 32px;*/

}
.schedule{
    display: flex;
    flex-direction: column;
}

.course-name {
    margin: 30px 0 0;
    font-family: "Montserrat Black";
    font-size: 73px;
    text-align: right;
    letter-spacing: 0.005em;
    text-decoration-line: underline;
    color: var(--white-text);
}

.indicator {
    width: 15px;
    height: 15px;
    background-color: var(--green-acsent);
    margin-left: 27px;
    border-radius: 50%;
    filter: blur(2px);

}

ul.progress-bar {
    margin-top: 22px;
    display: flex;
    align-self: center;
    justify-self:center ;
    gap: 8px;
    display: grid;
    grid-template-columns:  6px 6px 6px 6px 6px;
}

li.progress-bar {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

li.selected {
    background-color: var(--coral-acsent);
}

/* contact-us-screen*/
.contact-us-screen {
    margin-top: 77px;
    height: 269px;
    background-color: var(--coral-acsent);
}

.contact-wrapper {
    margin-top: 47px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    text-align: left;
}

.contact-text-h1 {
    padding-top: 47px;
    margin: 0;
    color: var(--white-text);
    font-family: "Montserrat Bold";
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.005em;
}

.form-field {
    height: 45px;
    margin-top: 17px;
    background-color: var(--coral-acsent);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--white-text);
    font-family: "Fira Code Light";
    color: var(--white-text);
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.form-field::placeholder {
    color: var(--white-text);
}

.contact-us-btn {
    align-self: flex-end ;

}
.form-wrapper{
    max-width: 325px;
    display: flex;
    flex-direction: column;
}

/* footer */
footer.footer {
    margin-top: 14px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

div.footer-wrapper {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 14px;
}

h3.footer {
    font-family: "Montserrat Bold";
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.025em;
    align-self: center;
    color: #B2B7B5;
}

a.footer{
    align-self: center;
    background-image: url("../github 1.svg");
    width: 32px;
    height: 32px;
}
/* small tablets */
@media screen and (min-width: 620px){
    
}

/* tablets */
@media screen and (min-width: 960px){

}

/* desktops */
@media screen and (min-width: 1200px){

}